<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microwise.smartservices.persistency.mapper.Power_eventMapper">

    <insert id="insertPowerEvent">
        insert lijun_power_event values (null, #{pid}, #{port}, #{status}, now());
    </insert>

</mapper>
